
<div>
    <div class="bg-red-400 mb-3 p-3 border-round text-white" *ngIf="showErrorMessage">
        <li *ngFor="let errorMessage of errorMessages"> {{ errorMessage }}</li>
    </div>
    <table class="form-table">
        <tr>
            <th class="w-2">Poster: </th>
            <td colspan="5">
                <p-image *ngIf="imageUrl" [src]="imageUrl" [alt]="altText" width="300" height="450" [preview]="true"></p-image>
                <div class="flex flex-row align-items-center gap-3">
                    <p-fileUpload
                    *ngIf="!imageUrl"
                    #fileUpload
                    name="file"
                    accept="image/*"
                    mode="basic"
                    (onSelect)="onFileSelect($event)"
                    chooseLabel="Choose image"
                    ></p-fileUpload>
                    <p-button *ngIf="imageUrl" label="Clear" icon="pi pi-times" (click)="clearFileSelection()" severity="danger"></p-button>
                </div>
            </td>
        </tr>
        <tr>
            <th class="w-2">Name<span class="required">*</span>: </th>
            <td colspan="5">
                <input type="text" maxlength="100" pInputText [(ngModel)]="actorDetail.name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </td>
        </tr>
        <tr>
            <th class="w-2">Country<span class="required">*</span>: </th>
            <td colspan="5">
                <p-dropdown [options]="listCountry" [(ngModel)]="actorDetail.country" [styleClass]="'w-full'" [filter]="true" filterBy="codeName" optionLabel="codeName" optionValue="code"></p-dropdown>
            </td>
        </tr>
        <tr>
            <th class="w-2">Birth: </th>
            <td colspan="5">
                <p-calendar [styleClass]="'w-full'" [(ngModel)]="actorDetail.birth" [showIcon]="true"></p-calendar>
            </td>
        </tr>
        <tr>
            <th class="w-2">Description<span class="required">*</span>: </th>
            <td colspan="5">
                <p-editor name="description" id="description" #quillEditor class="w-full" [style]="{ 'height': '40vh' }" [(ngModel)]="actorDetail.description"></p-editor>
            </td>
        </tr>
    </table>
    <div class="flex flex-row justify-content-end gap-3 mt-3">
        <p-button label="Cancel" severity="secondary" (onClick)="onCancel()" icon="pi pi-times"></p-button>
        <p-button label="Delete" severity="danger" (onClick)="onDelete()" icon="pi pi-delete-left"></p-button>
        <p-button label="Save" severity="primary" (onClick)="onSave()" icon="pi pi-save"></p-button>
    </div>
</div>
